<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
          <p>The date is <%=Time.now.strftime("%A, %B %d, %Y")%></p>
        Wednesday, November 18, 2015
    </body>
</html>
