<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <%date = DateTime.now.strftime('%A, %B %d, %Y')%>
        <h1>"The date is <%=date%>"</h1>
    </body>
</html>
